<div class="d-flex justify-content-center align-items-center min-vh-100 bg-light">
  <div class="card shadow-lg p-4 rounded-4" style="max-width: 400px; width: 100%;">
    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="text-center mb-3">
          <img src="assets/img/logo.png" alt="Logo" style="max-width: 180px;" />
        </div>

        <div class="text-center mb-3">
          <h4 class="fw-bold">Reset Password</h4>
          <p class="text-muted small mb-0">Masukkan password baru Anda.</p>
        </div>

        <div *ngIf="!token" class="text-danger text-center mb-3">
          Token tidak ditemukan atau link tidak valid.
        </div>

        <div *ngIf="token">
          <div class="form-group mb-3 position-relative">
            <label for="newPassword" class="form-label">Password Baru</label>
            <input
              id="newPassword"
              formControlName="newPassword"
              [type]="showNewPassword ? 'text' : 'password'"
              class="form-control form-control-lg rounded-3"
              placeholder="Password Baru"
            />
            <i
              class="bi"
              [ngClass]="showNewPassword ? 'bi-eye-slash' : 'bi-eye'"
              (click)="showNewPassword = !showNewPassword"
              style="position: absolute; top: 50%; right: 15px; transform: translateY(10%); cursor: pointer;">
            </i>
          </div>

          <div class="form-group mb-3 position-relative">
            <label for="confirmPassword" class="form-label">Konfirmasi Password</label>
            <input
              id="confirmPassword"
              formControlName="confirmPassword"
              [type]="showConfirmPassword ? 'text' : 'password'"
              class="form-control form-control-lg rounded-3"
              placeholder="Konfirmasi Password"
            />
            <i
              class="bi"
              [ngClass]="showConfirmPassword ? 'bi-eye-slash' : 'bi-eye'"
              (click)="showConfirmPassword = !showConfirmPassword"
              style="position: absolute; top: 50%; right: 10px; transform: translateY(10%); cursor: pointer;">
            </i>
          </div>


          <div class="d-grid">
            <button type="submit" class="btn btn-primary rounded-3 fw-semibold">
              Simpan Password
            </button>
          </div>
        </div>

        <div *ngIf="message" class="text-success text-center mt-3">{{ message }}</div>
        <div *ngIf="error" class="text-danger text-center mt-3">{{ error }}</div>
      </form>
    </div>
  </div>
</div>
