.bg-gradient-primary {
  background: #0d6efd
}
.bg-gradient-success {
  background: #0d6efd
}
.bg-gradient-info {
  background: #0d6efd
}
.bg-gradient-warning {
  background: #0d6efd
}
.bg-gradient-danger {
  background: #0d6efd
}
.bg-gradient-secondary {
  background: #0d6efd
}



/* Card hover effect */
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,0.15);
}

/* Responsive typography */
@media (max-width: 576px) {
  .card-body i {
    font-size: 1.5rem !important;
  }
  .card-title {
    font-size: 1.25rem !important;
  }
}
