<div class="container mt-4">
    <div class="row align-items-center mb-4">
      <!-- Teks Selamat Datang -->
      <div class="col-md-6">
        <h3 class="fw-semibold text-dark">👋 Selamat datang di <span class="text-primary">Ada Pinjam</span></h3>
        <p class="text-muted">Pantau dan proses pengajuan pinjaman dengan efisien!</p>
      </div>
  
      <!-- Gambar Animasi -->
      <div class="col-md-6 text-center">
        <lottie-player
          src="https://lottie.host/db7b2a4a-1631-4224-9bbc-169c67fe9a34/uU499egcRr.json"
          background="transparent"
          speed="1"
          style="width: 300px; height: 300px;"
          loop
          autoplay>
        </lottie-player>
      </div>
    </div>
    
  </div>
  