<div class="registration-form mt-5">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <!-- <div class="form-icon">
      <span><i class="icon icon-user"></i></span>
    </div> -->

    <div class="text-center mb-3">
      <img src="assets\img\logo.png" alt="Logo" style="max-width: 200px;" />
    </div>

    <div  class="Login fw-bold text-xl mb-3">
      <h4>Login</h4>
    </div>
    
    <div class="form-group">
      <input
        formControlName="username"
        type="text"
        class="form-control item"
        id="username"
        placeholder="NIP"
      />
    </div>
    
    <div class="form-group">
      <input
        formControlName="password"
        type="password"
        class="form-control item"
        id="password"
        placeholder="Password"
      />
    </div>

    <div class="text-end">
      <a [routerLink]="['/forgot-password']">Lupa Password?</a>
     </div> 

    <div class="text-center">
      <button type="submit" class="btn btn-block create-account">
        Login
      </button>
    </div>
    
    <!-- <div *ngIf="error" class="text-danger text-center mt-2">
      {{ error }}
    </div> -->
  </form>

  <!-- <div class="social-media">
    <h5>Sign in with social media</h5>
    <div class="social-icons">
      <a href="#"><i class="icon-social-facebook" title="Facebook"></i></a>
      <a href="#"><i class="icon-social-google" title="Google"></i></a>
      <a href="#"><i class="icon-social-twitter" title="Twitter"></i></a>
    </div>
  </div> -->
</div>
