<div class="registration-form mt-5 d-flex justify-content-center align-items-center">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="w-100">
    <div class="text-center mb-4">
      <img src="assets/img/logo.png" alt="Logo" class="logo-img" />
    </div>

    <div class="text-center fw-bold text-xl mb-3">
      <h4>Login</h4>
    </div>

    <div class="form-group">
      <input
        formControlName="username"
        type="text"
        class="form-control item"
        id="username"
        placeholder="NIP"
      />
    </div>

    <div class="form-group position-relative">
      <input
        formControlName="password"
        [type]="showPassword ? 'text' : 'password'"
        class="form-control item"
        id="password"
        placeholder="Password"
      />
      <i
        class="bi"
        [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"
        (click)="showPassword = !showPassword"
        style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%); cursor: pointer;"
      ></i>
    </div>

    <div class="text-end mb-3">
      <a [routerLink]="['/forgot-password']" class="text-decoration-none">Lupa Password?</a>
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-block create-account w-100">
        Login
      </button>
    </div>
  </form>
</div>

<div class="modal fade" id="updatePasswordModal" tabindex="-1" aria-labelledby="updatePasswordModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title" id="updatePasswordModalLabel">Ubah Password</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Tutup"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3 position-relative">
          <label for="oldPassword" class="form-label">Password Lama</label>
          <input
            [type]="showPasswordLama ? 'text' : 'password'"
            class="form-control"
            id="oldPassword"
            [(ngModel)]="oldPassword"
            placeholder="Masukkan password lama" />
          <i
            class="bi"
            [ngClass]="showPasswordLama ? 'bi-eye-slash' : 'bi-eye'"
            (click)="showPasswordLama = !showPasswordLama"
            style="position: absolute; top: 50%; right: 10px; transform: translateY(10%); cursor: pointer;">
          </i>
        </div>

        <div class="mb-3 position-relative">
          <label for="newPassword" class="form-label">Password Baru</label>
          <input
            [type]="showPasswordBaru ? 'text' : 'password'"
            class="form-control"
            id="newPassword"
            [(ngModel)]="newPassword"
            placeholder="Masukkan password baru" />
          <i
            class="bi"
            [ngClass]="showPasswordBaru ? 'bi-eye-slash' : 'bi-eye'"
            (click)="showPasswordBaru = !showPasswordBaru"
            style="position: absolute; top: 50%; right: 10px; transform: translateY(10%); cursor: pointer;">
          </i>
        </div>

        <div class="d-flex justify-content-end">
          <button class="btn btn-outline-secondary me-2" data-bs-dismiss="modal">Batal</button>
          <button class="btn btn-primary" (click)="updatePassword()">Simpan</button>
        </div>
      </div>
    </div>
  </div>
</div>
